<p>Number of people in network <paper-slider id="num-nodes" editable></paper-slider></p>
<p>Percent Women in network <paper-slider id="perc-gender" editable></paper-slider></p>
<p>Each person follows <paper-slider id="following" editable></paper-slider></p>
<p>Percent of Women following<paper-slider id="following-female" editable></paper-slider></p>
<a id="reset">randomise followers</a>
